<a href="https://colab.research.google.com/github/akamz22/Web_development/blob/main/first_python_code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
print("Hello")
a=10
b=20
print(a+b)

Hello
30

In [16]:
a=10
b="Myname"
c=309.5
print(a," ",b," "," ",c)
print(type(a))
print(type(b))
print(type(c))
print(a,isinstance(a,int))

10   Myname     309.5
<class 'int'>
<class 'str'>
<class 'float'>
10 True

In [20]:
a=1+2j
print(isinstance(a,complex))
print(isinstance(a,int))

True
False

variable name starts with alpha or underscore
cannot start with digit
cannot keep white space
case sensetive a A